@page "/game"
@using DemoWASM.Models
@attribute [Authorize]

<div>
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ReleaseYear</th>
                    <th>Synopsis</th>
                    <AuthorizeView Roles="Admin">
                        <Authorized>
                            <th>Action</th>
                        </Authorized>
                    </AuthorizeView>
                </tr>
            </thead>
            <tbody>
                @foreach(Game game in ListGame)
                {
                    <tr>
                        <td>@game.Title</td>
                        <td>@game.ReleaseYear</td>
                        <td>@game.Synopsis</td>
                        <AuthorizeView Roles="Admin">
                            <Authorized>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary" @onclick="() => sendDataUpdate(game)">Update</button>
                                    <button class="btn btn-sm btn-outline-secondary" @onclick="() => Delete(game.Id)">Delete</button>
                                </td>
                            </Authorized>
                        </AuthorizeView>
                    </tr>
                }
            </tbody>
    </table>
    <button class="btn btn-lg btn-outline-primary" @onclick="() => NavigateToAddGame()">New Game</button>

    @if (_update)
    {
        <div>
            <UpdateGame GameForm="_currentGame" Update="Update"></UpdateGame>
        </div>
    }
</div>

@code {

}
