<tr>
    <td>
        @Pseudo
    </td>
    <td>
        <button class="btn btn-outline-secondary" @onclick="() => DetailsTrigger()">Détails</button>
        <button class="btn btn-outline-primary" @onclick="() => UpdateTrigger()">Mise à Jour</button>
    </td>
</tr>

@code {

}
